<h1>Change Yourself!</h1>
<h2>Student: <%=h @student.name %></h2>
<% form_for(@student, :url => { :controller => :students, :action => :update }) do |f| %>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %>
  <p style="color:red;">
	PLEASE do not vandalise. Vandalism will only appear on the website for a few hours, and I have to work to remove it. It's a really tedious process.
	<br/>
	Thanks for understanding, this application only works on trust.
  </p>
  <p>
    <%= f.label 'Friendly Name (what people know you as)' %>
	-- Add your last name initial for clarity, like "Jon S" for "Smith, Jonathan". <br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label "email, this is optional" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :option_id, "Option" %><br />
    <%= collection_select(:student, :option_id, @groups, :id, :name, {}, {:size => 9}) %> <br />
  </p>
  <p>
    <%= f.label :password %>
    <%= password_field(:student, :password, :size => 20) %>

  </p>
  <p>
  <%= f.submit "Go!" %> | <%= link_to 'Cancel', students_path %>
  </p>

  <p class="message">Passwords protect from vandalism. Use a simple password (ex. 123)<br />
  (Press Go! only once!)</p>
<% end %>




